\.idea/
\.vs/
\.vscode/
\.sonarqube/
src/NUnitTests/bin/
src/NUnitTests/obj/
src/oscript-deflate/bin/
src/oscript-deflate/obj/
src/TestApp/bin/
src/TestApp/obj/
build/bin/
build/reports/
*.ospx
map.json
tools/nuget.exe
tools/test
tools/NUnit.ConsoleRunner.3.6.1